.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    margin-top: 60%;
    background-color: blue;
    padding: 1rem;
    input{
        height: 1rem;
        width: 5rem;

    }
}